## PRIMITIVE DATA STRUCTURES

In [2]:
# Declare a variable: Assign a value to a variable

a = 5
name = 'Petra'
price = 5.3

In [3]:
# Look at the value of a variable

a
name
price

5.3

In [4]:
# What type is it?

print(type(a))
print(type(name))
print(type(price))

<class 'int'>
<class 'str'>
<class 'float'>

In [5]:
# Change type

float(a)
str(a)
float(c)

# Be careful!
int(name)
int(price)

NameError: name 'c' is not defined

## CALCULATIONS / OPERATIONS

In [7]:
# With numbers

eur_to_usd = 1.22
eur = 10

usd = eur_to_usd * eur
usd

eur = 10 + 5
# Don't forget to recalculate!
usd = eur_to_usd * eur
usd

18.3

In [8]:
# With strings

last_name = 'Kaferle'

name + ' ' + last_name

'Petra Kaferle'

In [9]:
# Numbers with strings?

a * name

'PetraPetraPetraPetraPetra'

## PRINT STATEMENT

In [10]:
# Print: 'My name is' <name> 'and I have' <usd> 'dollars.'

#print('My name is ' + name + 'and I have ' + usd + 'dollars.')
print('My name is ' + name + ' and I have ' + str(usd) + ' dollars.')

My name is Petra and I have 18.3 dollars.

In [11]:
# Some more ways

print('My name is', name, 'and I have', usd,  'dollars.')
print('My name is {} and I have {} dollars'.format(name, usd))

My name is Petra and I have 18.3 dollars.
My name is Petra and I have 18.3 dollars

## NON-PRIMITIVE DATA STRUCTURES (COLLECTIONS)

### LIST

In [13]:
# Declare a list

my_list = [1.22, 7, 'petra']
print(my_list)

[1.22, 7, 'petra']

In [14]:
# Add an element

my_list.append(5.3)
print(my_list)

[1.22, 7, 'petra', 5.3]

In [15]:
# Remove an element

my_list.remove('petra')
print(my_list)

[1.22, 7, 5.3]

In [16]:
# Calculate some properties

print(min(my_list))
print(max(my_list))
print(len(my_list))

1.22
7
3

In [17]:
# Accessing the elements

# One element
my_list[2]

# Slice
my_list[1:2]

[7]

### TUPLES

In [18]:
# Declare a tuple

my_tuple = (1, 3, 5, 7, 9, 'Tuesday')
print(my_tuple)

(1, 3, 5, 7, 9, 'Tuesday')

In [19]:
# Tuples are immutable, so we cannot append an element

my_tuple.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
# Adding new tuple to existing one will create new tuple

print(my_tuple + (3, 4))
print(my_tuple)

(1, 3, 5, 7, 9, 'Tuesday', 3, 4)
(1, 3, 5, 7, 9, 'Tuesday')

In [21]:
# Since it is ordered, we can slice it and access the elements by position

my_tuple[2:5]

(5, 7, 9)

### DICTIONARIES

In [22]:
# Declare a dictionary

my_dict = {'Petra': 'petra@adaltas.com', 'Manu': 'manu@gmail.com', 'Geeta': 'geeta@gmail.com', 'Manish': 'manish@yahoo.com'}
print(my_dict)

{'Petra': 'petra@adaltas.com', 'Manu': 'manu@gmail.com', 'Geeta': 'geeta@gmail.com', 'Manish': 'manish@yahoo.com'}

In [23]:
# Access the values by key

my_dict['Manish']

'manish@yahoo.com'

In [24]:
# Add a new element

my_dict['Karen'] = 'karen@gmail.com'
print(my_dict)

{'Petra': 'petra@adaltas.com', 'Manu': 'manu@gmail.com', 'Geeta': 'geeta@gmail.com', 'Manish': 'manish@yahoo.com', 'Karen': 'karen@gmail.com'}

In [26]:
# Get all keys and all values 

print('Keys:', my_dict.keys())
print()
print('Values:', my_dict.values())

Keys: dict_keys(['Petra', 'Manu', 'Geeta', 'Manish', 'Karen'])

Values: dict_values(['petra@adaltas.com', 'manu@gmail.com', 'geeta@gmail.com', 'manish@yahoo.com', 'karen@gmail.com'])

### SETS

In [27]:
# Declare a set

my_set = {'monday', 'tuesday', 'wednesday', 'wednesday', 'friday', 'friday'}
print(my_set)

{'friday', 'wednesday', 'tuesday', 'monday'}

In [28]:
# Declare another set

new_set = {'monday', 'saturday', 'sunday'}

In [29]:
# Set operations: Union

print(my_set.union(new_set))

{'wednesday', 'tuesday', 'saturday', 'friday', 'sunday', 'monday'}

In [30]:
# Set operations: Intersection

print(my_set.intersection(new_set))

{'monday'}

In [31]:
# Set operations: Difference

print(my_set.difference(new_set))

{'friday', 'wednesday', 'tuesday'}

In [32]:
# Set operations: Symmetric Difference

print(my_set.symmetric_difference(new_set))

{'tuesday', 'wednesday', 'saturday', 'friday', 'sunday'}