## PRIMITIVE DATA STRUCTURES

In [2]:
# Declare a variable: Assign a value to a variable

a = 5
name = 'Petra'
price = 5.3

In [3]:
# Look at the value of a variable

a
name
price

5.3

In [4]:
# What type is it?

print(type(a))
print(type(name))
print(type(price))

<class 'int'>
<class 'str'>
<class 'float'>

In [5]:
# Change type

float(a)
str(a)
float(c)

# Be careful!
int(name)
int(price)

NameError: name 'c' is not defined

## CALCULATIONS / OPERATIONS

In [7]:
# With numbers

eur_to_usd = 1.22
eur = 10

usd = eur_to_usd * eur
usd

eur = 10 + 5
# Don't forget to recalculate!
usd = eur_to_usd * eur
usd

18.3

In [8]:
# With strings

last_name = 'Kaferle'

name + ' ' + last_name

'Petra Kaferle'

In [9]:
# Numbers with strings?

a * name

'PetraPetraPetraPetraPetra'

## PRINT STATEMENT

In [10]:
# Print: 'My name is' <name> 'and I have' <usd> 'dollars.'

#print('My name is ' + name + 'and I have ' + usd + 'dollars.')
print('My name is ' + name + ' and I have ' + str(usd) + ' dollars.')

My name is Petra and I have 18.3 dollars.

In [11]:
# Some more ways

print('My name is', name, 'and I have', usd,  'dollars.')
print('My name is {} and I have {} dollars'.format(name, usd))

My name is Petra and I have 18.3 dollars.
My name is Petra and I have 18.3 dollars

## NON-PRIMITIVE DATA STRUCTURES (COLLECTIONS)

### LIST

In [13]:
# Declare a list

my_list = [1.22, 7, 'petra']
print(my_list)

[1.22, 7, 'petra']

In [14]:
# Add an element

my_list.append(5.3)
print(my_list)

[1.22, 7, 'petra', 5.3]

In [15]:
# Remove an element

my_list.remove('petra')
print(my_list)

[1.22, 7, 5.3]

In [16]:
# Calculate some properties

print(min(my_list))
print(max(my_list))
print(len(my_list))

1.22
7
3

In [17]:
# Accessing the elements

# One element
my_list[2]

# Slice
my_list[1:2]

[7]

### TUPLES

In [18]:
# Declare a tuple

my_tuple = (1, 3, 5, 7, 9, 'Tuesday')
print(my_tuple)

(1, 3, 5, 7, 9, 'Tuesday')

In [19]:
# Tuples are immutable, so we cannot append an element

my_tuple.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
# Adding new tuple to existing one will create new tuple

print(my_tuple + (3, 4))
print(my_tuple)

(1, 3, 5, 7, 9, 'Tuesday', 3, 4)
(1, 3, 5, 7, 9, 'Tuesday')

In [21]:
# Since it is ordered, we can slice it and access the elements by position

my_tuple[2:5]

(5, 7, 9)

### DICTIONARIES

In [22]:
# Declare a dictionary

my_dict = {'Petra': 'petra@adaltas.com', 'Manu': 'manu@gmail.com', 'Geeta': 'geeta@gmail.com', 'Manish': 'manish@yahoo.com'}
print(my_dict)

{'Petra': 'petra@adaltas.com', 'Manu': 'manu@gmail.com', 'Geeta': 'geeta@gmail.com', 'Manish': 'manish@yahoo.com'}

In [23]:
# Access the values by key

my_dict['Manish']

'manish@yahoo.com'

In [24]:
# Add a new element

my_dict['Karen'] = 'karen@gmail.com'
print(my_dict)

{'Petra': 'petra@adaltas.com', 'Manu': 'manu@gmail.com', 'Geeta': 'geeta@gmail.com', 'Manish': 'manish@yahoo.com', 'Karen': 'karen@gmail.com'}

In [26]:
# Get all keys and all values 

print('Keys:', my_dict.keys())
print()
print('Values:', my_dict.values())

Keys: dict_keys(['Petra', 'Manu', 'Geeta', 'Manish', 'Karen'])

Values: dict_values(['petra@adaltas.com', 'manu@gmail.com', 'geeta@gmail.com', 'manish@yahoo.com', 'karen@gmail.com'])

### SETS

In [27]:
# Declare a set

my_set = {'monday', 'tuesday', 'wednesday', 'wednesday', 'friday', 'friday'}
print(my_set)

{'friday', 'wednesday', 'tuesday', 'monday'}

In [28]:
# Declare another set

new_set = {'monday', 'saturday', 'sunday'}

In [29]:
# Set operations: Union

print(my_set.union(new_set))

{'wednesday', 'tuesday', 'saturday', 'friday', 'sunday', 'monday'}

In [30]:
# Set operations: Intersection

print(my_set.intersection(new_set))

{'monday'}

In [31]:
# Set operations: Difference

print(my_set.difference(new_set))

{'friday', 'wednesday', 'tuesday'}

In [32]:
# Set operations: Symmetric Difference

print(my_set.symmetric_difference(new_set))

{'tuesday', 'wednesday', 'saturday', 'friday', 'sunday'}

## CONDITIONAL STATEMENTS

In [33]:
#Let's make a game

from random import randint

my_number = 3
x = randint(1, 10)

if my_number == x:
    print('Congratulations, you guessed')
else:
    print('Bad luck!')

#print(x)

Bad luck!

## LOOPS

### FOR LOOP

In [34]:
# The basic case: execute i-times

for i in range(1, 5):
    print(i)

1
2
3
4

In [35]:
# Execute for all elements on a list

eur_list = [5, 14, 3, 7]
eur_to_usd = 1.22

for value in eur_list:
    print(value * eur_to_usd)

6.1
17.08
3.66
8.54

### WHILE LOOP

In [36]:
# Basic case: run as long as the condition is true

n = 0
while n < 10:
    print(n)
    n = n + 1

0
1
2
3
4
5
6
7
8
9

In [37]:
# Transform the previous for loop into while loop

eur_list = [5, 14, 3, 7]
eur_to_usd = 1.22

n = 0
m = len(eur_list)

while n < m:
    print(eur_list[n] * eur_to_usd)
    n = n + 1

6.1
17.08
3.66
8.54

## FUNCTIONS

### BUILT-IN

In [38]:
# Some are ready to use

type(a)
sum(eur_list)

29

In [39]:
# Some need to be imported from the modules or libraries.
# We can import a function in several ways.

# Import a module

import random
random.randint(1, 10)

1

In [40]:
# Import all functions from a module

from random import *
randint(1, 10)

1

In [41]:
# Import a specific function from a module

from random import randint
randint(1, 10)

2

### USER-DEFINED

In [42]:
# Write a function that transforms euros to usd

def eur_to_usd_fn(eur_to_usd_rate, euros):
    usd = eur_to_usd_rate * euros
    return usd

In [43]:
# Call the function

eur_to_usd_rate = 1.22
euros = 10

eur_to_usd_fn(eur_to_usd_rate, euros)

12.2

In [44]:
# It is not necessary to use the same name of arguments to call the function as in the definition (positional matching)

rate = 1.22
money = 10

eur_to_usd_fn(rate, money)

12.2

In [47]:
# Setting default values for some of the arguments

def eur_to_usd_default_rate(euros, eur_to_usd_rate=1.22):
    usd = eur_to_usd_rate * euros
    return usd

In [48]:
# Call the function with passing the value for the first argument only

eur_to_usd_default_rate(10)

12.2

## EXERCISES

In [49]:
# Can I spend some more?

budget = 1000
expenses = [267, 24, 1300]

spent = sum(expenses)

if (budget - spent) > 0:
    print('You still have ' + str(budget - spent) + ' euros left.')
elif (budget - spent) == 0:
    print('You have no money left.')
else:
    print('Your debt is ' + str(abs(budget - spent)) + ' euros.')

Your debt is 591 euros.

In [50]:
# Temperatures in Paris, January 2020
# Average temperature in Paris, January 1950
# How many days were hotter, colder or the same temperature in January 2020 than in 1950?

temp_jan_2020 = [5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4]
avg_temp_1950 = 3

cold = 0
hot = 0
same = 0

for t in temp_jan_2020:
    if t < avg_temp_1950:
        cold = cold + 1
    elif t > avg_temp_1950:
        hot = hot + 1
    else:
        same = same + 1
        
print('In 2020, ' + str(cold) + ' days were colder than in 1950.')
print('In 2020, ' + str(hot) + ' days were hotter than in 1950.')
print('In 2020, ' + str(same) + ' days were the same temp. than in 1950.')

In 2020, 0 days were colder than in 1950.
In 2020, 31 days were hotter than in 1950.
In 2020, 0 days were the same temp. than in 1950.

In [51]:
# What is the average temp. in January 2020? Solve it with a loop.

In [52]:
# Write a function that transforms usd to euros

In [53]:
# Write a function to calculate BMI (BMI = weight in kg / height in meters)